@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --green: #27ae60;
    --black: #192a56;
    --ligght-clor: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    /* text-align: center; */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 7%;
    background: white;
    align-items: center;
    /* box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, .1); */
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

header a i {
    color: var(--green);
    font-size: 2.5rem;
}

header .navbar a {
    color: var(--ligght-clor);
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    /*added from source */
}

header .navbar a:hover,
header .navbar .active {
    background-color: var(--green);
    color: white;
}

header .icons i,
header .icons a {
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    background: #eee;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    cursor: pointer;
}

header .icons i:hover,
header .icons a:hover {
    transform: rotate(360deg);
    background-color: var(--green);
    transition: 0.2s;
}

header .icons #menu-bars {
    display: none;
}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1004;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -110%;
}

#forms.active {
    top: 0;
}

form i {
    position: absolute;
    right: 2rem;
    top: 3rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}

form input {
    width: 50rem;
    border: none;
    border-bottom: .2px solid white;
    background: none;
    font-size: 3.5rem;
}

form input:focus {
    outline: none;
    border-bottom: .2px solid white;
    color: #fff;
}

.popup #input::placeholder {
    color: #fff;
}

.popup label {
    font-size: 3rem;
    color: #fff;
}

.popup label:hover {
    color: var(--green);
}

.mainBlock {
    padding: 2rem 9%;
}

.blocks {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    padding-top: 9rem;
    text-align: center;
}

.mainBlock .blocks .content {
    /* padding: 1rem; */
    flex: 1 1 45rem;
}

.mainBlock .blocks .image {
    flex: 1 1 45rem;
}

.mainBlock .blocks .image img {
    width: 70%;
}

.mainBlock .blocks h2 {
    font-size: 3rem;
    color: var(--green);
    font-weight: lighter;
}

.mainBlock .blocks h1 {
    font-size: 7rem;
    color: var(--black);
}

.mainBlock .blocks p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: var(--green);
}

.btn {
    padding: .8rem 3rem;
    background-color: var(--black);
    color: #fff;
    border-radius: .5rem;
    font-size: 1.7rem;
    display: inline-block;
    /* margin-left: 5rem; */
}

.btn:hover {
    background-color: var(--green);
    /* padding-right: 3rem;
    font-size: 1.8rem; */
    letter-spacing: .1rem;
}

.menu-container {
    background-color: #eee;
    padding: 1rem 10%;
}

.main-holder {
    /* margin: 2rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.holder {
    background-color: #fff;
    /* width: 32rem; */
    height: 38rem;
    overflow: hidden;
    position: relative;
    padding: 2.5rem;
    text-align: center;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
}

.main-holder .holder:hover .fa-eye {
    position: absolute;
    left: 1.5rem;
}

.main-holder .holder:hover .fa-heart {
    position: absolute;
    right: 1.5rem;
}

.holder img {
    height: 17rem;
    margin: 1rem 0;
}

.menu-container {
    text-align: center;
}

.menu-container h1 {
    color: var(--black);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.menu-container h2 {
    color: var(--green);
    font-size: 1.8rem;
    margin: .5rem 0;
}

.menu-container .main-holder h2 {
    color: var(--black);
    font-size: 2.5rem;
}

.menu-container .main-holder .stars {
    color: var(--green);
    font-size: 1.7rem;
    margin: 1.5rem 0;
}

.menu-container .main-holder span {
    color: var(--green);
    font-size: 2rem;
    font-weight: bolder;
}

.menu-container .main-holder .fa-heart,
.menu-container .main-holder .fa-eye {
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
}

.menu-container .main-holder .fa-heart:hover,
.menu-container .main-holder .fa-eye:hover {
    background-color: var(--green);
    color: #fff;
}

.menu-container .main-holder .fa-heart {
    position: absolute;
    right: -15rem;
}

.menu-container .main-holder .fa-eye {
    position: absolute;
    left: -15rem;
}

.about {
    text-align: center;
}

.about .about-block img {
    width: 50rem;
}

.main-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem 3%;
}

.about h2 {
    color: var(--green);
    padding: 2rem 0;
    font-size: 2rem;
}

.about-block {
    flex: 1 1 45rem;
}

.about h1 {
    color: var(--black);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-block2 {
    /* width: 70rem; */
    line-height: 3.5rem;
    text-align: left;
    flex: 1 1 45rem;
}

.main-block .about-block2 h1 {
    color: var(--black);
    font-size: 4rem;
    margin-bottom: 1rem;
}

.main-block .about-block2 p {
    color: var(--ligght-clor);
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.last {
    display: flex;
    align-items: center;
}

.about-info {
    text-align: center;
    background-color: #eee;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin-right: 1.2rem;
    padding: 1rem 1rem;
}

.about-info i {
    font-size: 2.5rem;
    color: var(--green);
    line-height: 1rem;
}

.about-info span {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: lighter;
    margin: 1rem;
}

.btn-holder {
    margin-top: 2rem;
}

#learn {
    padding: .5rem 2rem;
    background-color: var(--black);
    color: #fff;
    border-radius: .5rem;
    font-size: 1.7rem;
    display: inline-block;
    /* margin-left: 5rem; */
}

#learn:hover {
    background-color: var(--green);
    padding-right: 3rem;
    font-size: 1.8rem;
}

.menu {
    background-color: #eee;
    padding: 2rem 8%;
    padding-top: 2rem;
    text-align: center;
}

.menu h2 {
    color: var(--green);
    font-size: 2rem;
}

.menu h1 {
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 1rem 0;
}

.menu-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* margin: 1.5rem; */
    gap: .5rem;
}

.menu-pocket {
    border: .1rem solid rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    /* Not in Original*/
    margin: 2rem 1rem;
    text-align: left;
}

.menu-pocket .menu-image {
    /* width: 100%; */
    height: 25rem;
    overflow: hidden;
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
    /* margin: .5rem 10%; */
    /* source */
    /* height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative; */
}

.menu-pocket .menu-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* margin: 1.5rem 0; */
    border-radius: .5rem;
    /* height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover; */
}

.menu-pocket .stars i {
    font-size: 1.7rem;
    color: var(--green);
}

.menu-pocket .stars {
    padding-bottom: 1rem;
}

.menu-pocket h2 {
    margin: 1rem 0;
    color: var(--black);
    font-size: 2.5rem;
}

.menu-pocket h3 {
    color: var(--ligght-clor);
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 0.5rem 0;
    line-height: 2.5rem;
}

.menu-content {
    padding: 2.5rem;
    padding-top: 0%;
}

.menu-content .cost {
    font-size: 2.5rem;
    color: var(--green);
    margin-left: 1.5rem;
}

.menu .menu-holder .menu-pocket .menu-image .fa-heart {
    text-align: center;
    position: absolute;
    color: var(--black);
    background-color: #fff;
    top: 2.5rem;
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border-radius: 50%;
}

.menu .menu-holder .menu-pocket .menu-image .fa-heart:hover {
    background-color: var(--green);
    color: #fff;
}

.one-review {
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 2rem 1%;
    position: relative;
    border-radius: 1rem;
}

.one-review .fa-quote-right {
    font-size: 6rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #ccc;
}

.review {
    text-align: center;
    padding: 2rem 10%;
}

.review h2 {
    color: var(--green);
    font-size: 2rem;
    padding: .5rem 0;
}

.review h1 {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 2.5rem;
}

.review1 {
    display: flex;
    margin-left: 2rem;
}

.review1 .first {
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    border-radius: 50%;
}

.review1 .first img {
    width: 100%;
    object-fit: contain;
}

.review1 .second {
    margin-left: 2rem;
}

.review1 .second h2 {
    color: var(--black);
    font-size: 2rem;
}

.review1 .second .stars {
    color: var(--green);
    margin-top: .2rem;
    font-size: 1.3rem;
}

.one-review .third {
    margin-left: 2rem;
    text-align: left;
}

.one-review .third p {
    padding-top: 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--ligght-clor);
}

.info {
    background-color: var(--ligght-clor);
}