.body2 {
    height: 55vh;
    background-color: white;
    margin-top: -8px;
    width: 98.5vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.leftone {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100%;
    background: linear-gradient(#FFFFFF, #AB79DF);
    /*CA8BDA*/
    /* background: linear-gradient(#e66465, #9198e5); */
    align-items: center;
    justify-content: center;
}

#viewAll {
    width: 100px;
    height: 40px;
    background-color: #2874f0;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.advertise #rightImg {
    width: 15vw;
    height: 100%;
}

#rightImg {
    width: 15vw;
    height: 100%;
}

.advertises h4,
.advertise h5 {
    margin: 20px;
}

.advertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100%;
    margin: 0px 15px 0px 12px;
}

.advertise img:hover {
    width: 15.1vw;
    /* height: 101%; */
}

#oneFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advertise h4 {
    color: #388e3c;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#oneFirst {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 54px;
}

.move1 {
    display: flex;
    margin: right 100px;
}

#forward {
    padding: 40px 15px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    background-color: hsla(0, 0%, 100%, .98);
    /* overflow: hidden; */
    position: absolute;
    right: 231px;
    top: 580px;
    cursor: pointer;
}